* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --primary_color: #1f2937;
  --primary_color_dark: #111827;
  --secondary_color: #d9152d;
  --secondary_color_dark_Shade: #ad1024;
  --white: #ffffff;
  --text_dark: #1f1f1f;
  --text_grey: #595959;
  --text_light: #9d9d9d;
  --text_light_shade_grey: #e0e0e0;
}

html,
body {
  background-color: var(--white);
  font-family: "Roboto";
}

a {
  color: none;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none !important;
}

a:focus {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

*:focus {
  box-shadow: none !important;
}

button:focus,
input:focus {
  outline: none;
}

button:active,
input:active {
  outline: none;
}

p,
label {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto";
  font-style: normal;
  color: var(--text_dark);
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 600;
  font-size: 2rem;
  line-height: 120%;
}

h2 {
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 120%;
}

h3 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 120%;
}

h4 {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 160%;
}

p {
  font-family: "Roboto";
  font-style: normal;
  color: var(--text_dark);
}

.body_bold {
  font-weight: 500;
  font-size: 1rem;
  line-height: 160%;
}

.body_regular {
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
}

.para_bold {
  font-family: "Roboto";
  font-style: normal;
  color: var(--text_dark);
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 126%;
}

.para_regular {
  font-family: "Roboto";
  font-style: normal;
  color: var(--text_dark);
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 154%;
}

.small_para_bold {
  font-family: "Roboto";
  font-style: normal;
  color: var(--text_dark);
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 120%;
}

.small_para_regular {
  font-family: "Roboto";
  font-style: normal;
  color: var(--text_dark);
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 150%;
}

article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

ul {
  margin: 0;
  list-style: none;
}

.wrapper {
  width: 80%;
  height: 100%;
  margin: 0px auto;
  transition: all 300ms ease-in-out;
}

@media (max-width: 1536px) {
  .wrapper {
    width: 90% !important;
  }
}

textarea:focus,
input:focus {
  outline: none;
}

.main-body {
  width: 100%;
}

.main_btn {
  width: 80px;
  height: 34px;
  left: 1229px;
  padding: 6px 16px;
  background: var(--secondary_color);
  border-radius: 4px;
  color: var(--white) !important;
  border: 1px solid var(--secondary_color);
  cursor: pointer;
  transition: all 300ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_btn:hover {
  background-color: var(--secondary_color_dark_Shade) !important;
  color: var(--white) !important;
}

input {
  height: 32px !important;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 154%;
  outline: none !important;
}

.breadcrumb {
  height: auto;
  min-height: 100px;
  padding: 25px !important;
  background-color: red;
  margin-bottom: 5rem !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 15px;
  column-gap: 15px;
  row-gap: 15px;
}

.breadcrumb h1 {
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  font-size: 2.625rem;
  line-height: 46px;
  font-weight: 400;
}

.breadcrumb form {
  width: 50%;
}

.breadcrumb form input {
  padding: 15px;
  border-radius: 4px;
  border: 1px solid var(--text_light_shade_grey) !important;
  display: flex !important;
  align-items: center !important;
  font-weight: 300 !important;
  height: 60px !important;
  width: 100%;
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .breadcrumb form {
    width: 90% !important;
  }
}


.custom_pagination {
  border-top: 1px solid #e5e5e5;
  margin: 0;
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

.custom_pagination .pagination .page-item {
  color: #1f1f1f !important;
}

.custom_pagination .pagination .page-item.active .page-link {
  background-color: #1f2937 !important;
  border: 1px solid #1f2937 !important;
  color: white !important;
  outline: none !important;
}

.custom_pagination .pagination .page-item.active .page-link:hover {
  background-color: none !important;
}

.youtube_player #player .ytp-chrome-top{
  background-color: red !important;
  display: none !important;
}

/*
BASIC COMMON CSS END HERE
*/
/*********************************home page css start *********************************************************/
/*********************************login and register page css start *********************************************************/
.login_wrapper {
  height: auto;
  min-height: 100vh;
  background-color: var(--white);
  /* border: 1px solid var(--text_light_shade_grey) !important; */
  /* padding: 32px; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.login_wrapper .login_wrapper__left {
  padding: 4.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  overflow-y: auto;
  height: 100%;
  /* Ensure full height of the left section */
}

.login_wrapper .login_wrapper__left h3 {
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 120%;
  color: var(--text_dark);
}

.login_wrapper .login_wrapper__left p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--text_grey);
}

.login_wrapper .login_wrapper__left form {
  width: 100%;
}

.login_wrapper .login_wrapper__left .form_group {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login_wrapper .login_wrapper__left .form_group a {
  margin-top: 15px !important;
  color: var(--secondary_color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 154%;
  cursor: pointer;
  text-align: right;
  width: 100%;
}

.login_wrapper .login_wrapper__left .form_group label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 154%;
  color: var(--text_dark);
}

.login_wrapper .login_wrapper__left .form_group select,
.login_wrapper .login_wrapper__left .form_group option,
.login_wrapper .login_wrapper__left .form_group input {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /* background: #ffffff; */
  padding: 15px 16px;
  top: calc(50% - 26px + 19px);
  /* light shade grey */
  height: 52px !important;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  outline: none !important;
  color: var(--text_grey) !important;

}

.login_wrapper .login_wrapper__left .form_group button {
  width: 100%;
  height: 50px;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 160%;
  color: var(--white);
  background-color: var(--primary_color);
  transition: all 300ms ease-in-out;
}

.login_wrapper .login_wrapper__left .form_group button.btn:hover {
  background-color: var(--primary_color_dark);
}

.login_wrapper .login_wrapper__left .form_group .custom-select {
  background-image: url("../icon/arrow_down.svg");
  background-position: right 20px center;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.login_wrapper .login_wrapper__left .form_group:last-child {
  margin-top: 32px;
}

.login_wrapper .login_wrapper__left .link_wrapper {
  margin-top: 24px;
  width: 100%;
}

.login_wrapper .login_wrapper__left .link_wrapper p {
  font-family: "Roboto";
  font-style: normal;
  width: 100%;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 154%;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.login_wrapper .login_wrapper__left .link_wrapper p span {
  color: var(--text_light) !important;
}

.login_wrapper .login_wrapper__left .link_wrapper p a {
  color: var(--secondary_color) !important;
  font-weight: 500 !important;
}

.login_wrapper .login_wrapper__right {
  background: url("../img/1.jpg") no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;

  /* position: sticky;
  top: 0;
  height: 100vh;
  flex: 1; */
}

.login_wrapper .login_wrapper__right::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(243, 249, 252, 0.6); */
}

@media (max-width: 993px) {
  .login_wrapper .login_wrapper__left {
    padding: 2rem !important;
  }

  .login_wrapper .login_wrapper__right {
    padding: 2rem !important;
  }
}

@media (max-width: 767px) {
  .login_wrapper {
    display: flex !important;
    flex-direction: column !important;
  }

  .login_wrapper .login_wrapper__right {
    display: none !important;
  }
}

/*********************************login and register page css end *********************************************************/
/*********************************dashboard page css start *********************************************************/
.header_one {
  width: 100%;
  z-index: 7;
  position: sticky !important;
  position: -webkit-sticky !important;
  top: 0 !important;
  box-shadow: 0 4px 10px rgba(106, 106, 106, 0.1215686275);
  background-color: white;
}

.header_one ul {
  display: flex;
  -moz-column-gap: 22px !important;
  column-gap: 22px !important;
}

.header_one ul li a {
  padding: 0px;
  margin: 0px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 154%;
}

.header_one .header__top {
  background-color: #ffffff !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.header_one .header__top .navbar-brand img {
  max-width: 80px;
  max-height: 70px;
}

.header_one .header__top ul {
  display: flex;
  -moz-column-gap: 22px !important;
  column-gap: 22px !important;
}

.header_one .header__top ul li a {
  color: var(--text_dark);
}

.header_one .header__top .dropdown-menu {
  padding: 5px;
}

.header_one .header__top .dropdown-menu a {
  padding-top: 3px;
  padding-bottom: 3px;
}

.header_one .header__top .dropdown-menu a:hover {
  background-color: transparent !important;
  color: var(--primary_color) !important;
}

.header_two {
  width: 100%;
  z-index: 2;
  position: sticky !important;
  position: -webkit-sticky !important;
  top: 0 !important;
}

.header_two ul {
  display: flex;
  -moz-column-gap: 22px !important;
  column-gap: 22px !important;
}

.header_two ul li a {
  padding: 0px;
  margin: 0px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 154%;
}

.header_two .header_bottom {
  background-color: var(--primary_color);
  box-shadow: 0px 4px 10px rgba(106, 106, 106, 0.12);
}

.header_two .header_bottom .header_bottom__container {
  height: 35px;
  display: flex !important;
  justify-content: space-between !important;
}

.header_two .header_bottom .header_bottom__container ul {
  align-items: center;
  padding: 0px !important;
  margin: 0px !important;
  height: 100%;
}

.header_two .header_bottom .header_bottom__container ul li a {
  color: var(--white);
}

.dashboard_body {
  position: relative;
  height: auto;
  min-height: 50px;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 0.8fr 1.4fr 0.8fr;
  -moz-column-gap: 24px;
  column-gap: 24px;
  margin-top: 48px;
  margin-bottom: 48px;
}

.dashboard_body .dashboard_body__box {
  padding: 15px;
  border: 1px solid var(--text_light_shade_grey);
  border-radius: 4px;
  height: auto;
  min-height: 50px;
}

.dashboard_body .dashboard_body__box .dashboard_body__box_header {
  border-bottom: 1px solid var(--text_light_shade_grey);
  display: flex;
  justify-content: space-between;
}

.dashboard_body .dashboard_body__box .dashboard_body__box_header h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 160%;
  color: var(--text_dark);
  text-align: left;
}

.dashboard_body .dashboard_body__box .dashboard_body__box_header a {
  font-size: 12px !important;
  color: var(--text_dark);
  font-weight: 500 !important;
}

.dashboard_body .dashboard_body__box .dashboard_body__box_body {
  position: relative;
}

.dashboard_body .dashboard_body__box .dashboard_body__box_body ul li {
  margin-top: 8px;
  font-family: "Roboto";
  font-style: normal;
  color: var(--text_dark);
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 154%;
  cursor: pointer;
}

.dashboard_body .dashboard_body__box .dashboard_body__box_body ul li .team_name {
  font-weight: 500 !important;
}

.dashboard_body .dashboard_body__box .dashboard_body__box_body ul li:hover {
  text-decoration: underline;
}

.dashboard_body .dashboard_body__box .dashboard_body__box_body.fallow {
  height: auto !important;
  min-height: 10px !important;
}

.dashboard_body .dashboard_body__box .dashboard_body__box_body.fallow ul li {
  margin-top: 24px;
  display: flex;
  -moz-column-gap: 24px;
  column-gap: 24px;
}

.dashboard_body .dashboard_body__box .dashboard_body__box_body.fallow ul li .fa_icon {
  font-size: 20px;
}

.dashboard_body .dashboard_body__box .dashboard_body__box_body.fallow ul li:hover {
  text-decoration: none !important;
}

.dashboard_body .dashboard_body__box .dashboard_body__box_body.fixtures ul {
  padding: 15px;
}

.dashboard_body .dashboard_body__box .dashboard_body__box_body.fixtures ul li {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.dashboard_body .dashboard_body__box:nth-child(2) {
  margin-top: 24px;
}

.dashboard_body .dashboard_body__left {
  height: auto;
  min-height: 300px;
}

.dashboard_body .dashboard_body__middle {
  height: auto;
  min-height: 300px;
}

.dashboard_body .dashboard_body__middle .live_box {
  padding: 15px;
  border: 1px solid var(--text_light_shade_grey);
  border-radius: 4px;
}

.dashboard_body .dashboard_body__middle .live_box .live_box__header {
  display: flex;
  justify-content: space-between;
}

.dashboard_body .dashboard_body__middle .live_box .live_box__header a {
  font-size: 12px !important;
  color: var(--text_dark);
  font-weight: 500 !important;
  cursor: pointer;
}

.dashboard_body .dashboard_body__middle .live_box .live_box__body p {
  width: 75%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  font-family: "Roboto";
  font-style: normal;
  color: var(--text_dark);
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 154%;
}

.dashboard_body .dashboard_body__middle .live_box .live_box__body p .team_name {
  font-weight: 500 !important;
}

.dashboard_body .dashboard_body__middle .live_box .live_box__body .video_wrapper {
  margin-top: 24px;
  position: relative;
  height: auto;
  min-height: 350px;
}

.dashboard_body .dashboard_body__middle .live_box .live_box__body .video_wrapper .video {
  position: absolute;
}

.dashboard_body .dashboard_body__middle .live_box .live_box__body.second p {
  width: 100% !important;
  text-align: left !important;
}

.dashboard_body .dashboard_body__middle .live_box:nth-child(2) {
  margin-top: 24px;
}

.dashboard_body .dashboard_body__right {
  height: auto;
  min-height: 300px;
}

@media screen and (max-width: 992px) {
  .header_one {
    box-shadow: 0px 4px 10px rgba(106, 106, 106, 0.12) !important;
  }

  .header_two {
    display: none !important;
  }

  .dashboard_body {
    display: flex !important;
    flex-direction: column !important;
    row-gap: 24px;
  }

  .dashboard_body .dashboard_body__middle {
    order: 1;
  }

  .dashboard_body .dashboard_body__right {
    order: 2;
  }

  .dashboard_body .dashboard_body__left {
    order: 3;
  }
}

/*
ATHELETES PAGE CSS START HERE
*/
.atheletes_wrapper {
  height: auto;
  min-height: 700px;
  margin-top: 48px;
  margin-bottom: 48px;
}

.atheletes_wrapper .atheletes_container {
  margin-bottom: 32px;
}

.atheletes_wrapper .atheletes_container .atheletes_wrapper__card {
  height: auto;
  min-height: 50px;
  row-gap: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.atheletes_wrapper .atheletes_container .atheletes_wrapper__card .atheletes_wrapper_image_wrapper {
  width: 80px;
  height: 80px;
  position: relative;
}

.atheletes_wrapper .atheletes_container .atheletes_wrapper__card .atheletes_wrapper_image_wrapper img {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.atheletes_wrapper .atheletes_container .atheletes_wrapper__card .atheletes_wrapper_desc_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.atheletes_wrapper .atheletes_container .atheletes_wrapper__card .atheletes_wrapper_desc_wrapper h3 {
  font-weight: 500;
  font-size: 1rem;
  line-height: 160%;
  color: var(--primary_color);
  margin: 0px;
  padding: 0px;
}

.atheletes_wrapper .atheletes_container .atheletes_wrapper__card .atheletes_wrapper_desc_wrapper p {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 154%;
  text-align: center;
  color: #b8b7b7;
  margin: 0px;
  padding: 0px;
}

/*
ATHELETES PAGE CSS END HERE
*/
/*
NEWS PAGE CSS START
*/
.news_container {
  height: auto;
  min-height: 700px;
  margin-top: 48px;
  margin-bottom: 48px;
}

.search_breadcrumb {
  width: auto;
  min-width: 300px;
}

.search_breadcrumb a {
  position: absolute;
  margin-top: -3% !important;
}

.news_container .news_container__card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  min-height: 300px;
}

.news_container .news_container__card .news_wrapper {
  background: #ffffff;
  box-shadow: 0px 0px 12px rgba(131, 131, 131, 0.16);
  border-radius: 4px;
  padding: 15px;
}

.news_container .news_container__card .news_wrapper .news_wrapper_img {
  position: relative;
  height: 250px;
}

.news_container .news_container__card .news_wrapper .news_wrapper_img img {
  position: absolute;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.news_container .news_container__card .news_wrapper .news_wrapper_desc {
  padding: 15px;
}

.news_container .news_container__card .news_wrapper .news_wrapper_desc h4 {
  color: var(--text_dark);
  font-size: 1.125rem !important;
  font-weight: 500;
  font-size: 1rem;
  line-height: 160%;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
}

.news_container .news_container__card .news_wrapper .news_wrapper_desc p.date {
  margin-top: 8px;
  color: #b8b7b7 !important;
  font-size: 0.875rem;
  font-weight: 400;
  padding: 0px;
  margin: 0px;
}

.news_container .news_container__card .news_wrapper .news_wrapper_desc p.desc {
  color: #858585 !important;
  font-size: 1rem;
  line-height: 172% !important;
  font-family: "Roboto";
  font-style: normal;
  color: var(--text_dark);
  font-weight: 400;
  margin-top: 16px;
}

.news_container .news_container__card .news_wrapper .news_wrapper_desc a {
  color: var(--primary_color);
  font-weight: 500;
}

.news_container .news_container__card .news_wrapper .news_wrapper_desc a i {
  margin-left: 10px;
}

@media (max-width: 769px) {
  .news_container .news_container__card {
    grid-template-columns: repeat(2, 2fr) !important;
  }
}

/*
NEWS PAGE CSS END
*/
/*
NEWS PAGE DETAIL CSS START
*/
.news_detail {
  height: auto;
  min-height: 700px;
  margin-top: 48px;
  margin-bottom: 48px;
}

.news_detail .news_detail__body {
  margin-top: 32px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  -moz-column-gap: 50px;
  column-gap: 50px;
}

.news_detail .news_detail__body .news_detail__body_left h1 {
  color: var(--text_dark);
  font-weight: 500;
  font-size: 2rem;
  line-height: 180%;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
}

.news_detail .news_detail__body .news_detail__body_left p.date {
  margin-top: 8px;
  color: #b8b7b7 !important;
  font-size: 0.875rem;
  font-weight: 400;
  padding: 0px;
  margin: 0px;
}

.news_detail .news_detail__body .news_detail__body_left .news_detail__body_img {
  margin-top: 15px;
  width: 100%;
  height: auto;
  min-height: 400px;
  position: relative;
}

.news_detail .news_detail__body .news_detail__body_left .news_detail__body_img img {
  position: absolute;
  height: 100%;
  width: 100%;
}

.news_detail .news_detail__body .news_detail__body_left .news_detail__body_video {
  background-color: red;
  height: auto;
  min-height: 500px;
  position: relative;
}

.news_detail .news_detail__body .news_detail__body_left .news_detail__footer_detail {
  margin-top: 24px;
}

.news_detail .news_detail__body .news_detail__body_left .news_detail__footer_detail p {
  font-weight: 400 !important;
  font-size: 1rem;
  line-height: 200% !important;
  color: var(--text_dark) !important;
}

.news_detail .news_detail__body .news_detail__body_right h4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 160%;
  color: var(--primary_color) !important;
}

.news_detail .news_detail__body .news_detail__body_right .other_news .other_news__card {
  height: auto;
  margin-top: 24px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  -moz-column-gap: 14px;
  column-gap: 14px;
}

.news_detail .news_detail__body .news_detail__body_right .other_news .other_news__card .other_news__card_img {
  position: relative;
  height: 100%;
}

.news_detail .news_detail__body .news_detail__body_right .other_news .other_news__card .other_news__card_img img {
  position: absolute;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.news_detail .news_detail__body .news_detail__body_right .other_news .other_news__card .other_news__card_img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.news_detail .news_detail__body .news_detail__body_right .other_news .other_news__card .other_news__desc .small_para_regular {
  margin-top: 16px;
  font-weight: 400 !important;
  color: #b8b7b7 !important;
  font-size: 0.875rem !important;
}

.news_detail .news_detail__body .news_detail__body_right .other_news .other_news__card .other_news__desc .para_bold {
  color: var(--text_dark);
  cursor: pointer;
  font-size: 1rem !important;
  line-height: 160% !important;
}

.news_detail .news_detail__body .news_detail__body_right .other_news .other_news__card .other_news__desc .para_bold:hover {
  text-decoration: underline;
}

@media (max-width: 992px) {
  .news_detail .news_detail__body {
    display: flex !important;
    flex-direction: column !important;
  }

  .news_detail .other_news .other_news__card {
    grid-template-columns: 1fr 2fr !important;
    min-height: 200px !important;
  }
}

/*
NEWS PAGE DETAIL CSS END
*/
/*
OLYMPIC PAGE CSS START
*/
.olympic_wrapper {
  height: auto;
  min-height: 700px;
  margin-top: 32px;
  margin-bottom: 48px;
}

.olympic_wrapper .olympic_wrapper__des {
  height: auto;
  min-height: 70vh;
  display: grid;
  grid-template-columns: 1.3fr 1.7fr;
  align-items: center;
}

.olympic_wrapper .olympic_wrapper__des .olympic_wrapper__des_left {
  padding: 5px;
  display: flex;
  align-items: center;
}

.olympic_wrapper .olympic_wrapper__des .olympic_wrapper__des_left h1 {
  font-size: 5rem;
  line-height: 6rem;
  font-weight: 700;
  color: var(--primary_color);
}

.olympic_wrapper .olympic_wrapper__des .olympic_wrapper__des_right {
  padding: 50px;
}

.olympic_wrapper .olympic_wrapper__des .olympic_wrapper__des_right p {
  font-size: 2rem;
  font-weight: 600;
  color: var(--text_dark);
  text-align: center;
}

.olympic_wrapper .olympic_wrapper__img {
  margin-top: 32px;
}

.olympic_wrapper .olympic_wrapper__img h1 {
  font-size: 2.5rem;
  line-height: 3.5rem;
  color: var(--primary_color);
  font-weight: 600;
}

.olympic_wrapper .olympic_wrapper__img .olympic_wrapper__img_inner {
  width: 100%;
  height: auto;
  min-height: 100vh !important;
  background: url("../img/olympic.PNG") no-repeat !important;
  background-size: auto 100%;
  position: relative;
}

.olympic_wrapper .olympic_wrapper__img .olympic_wrapper__img_inner .olympic_wrapper__img_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  min-height: 100vh !important;
}

.olympic_wrapper .olympic_wrapper__img .olympic_wrapper__img_inner .olympic_wrapper__img_container .olympic_wrapper__img_inner_left {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.olympic_wrapper .olympic_wrapper__img .olympic_wrapper__img_inner .olympic_wrapper__img_container .olympic_wrapper__img_inner_left h1 {
  font-size: 5rem;
  line-height: 6rem;
  font-weight: 700;
  color: var(--white);
}

.olympic_wrapper .olympic_wrapper__img .olympic_wrapper__img_inner .olympic_wrapper__img_container .olympic_wrapper__img_inner_left p {
  padding: 0px;
  margin: 0px;
  color: var(--white);
}

.olympic_wrapper .olympic_wrapper__img .olympic_wrapper__img_inner .olympic_wrapper__img_container .olympic_wrapper__img_inneer_right {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}

.olympic_wrapper .olympic_wrapper__img .olympic_wrapper__img_inner .olympic_wrapper__img_container .olympic_wrapper__img_inneer_right .explore_card {
  background: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.106) 0px 0.2rem 2.4rem;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 3.8rem 2.4rem 2.4rem;
  text-align: center;
  width: 18rem;
  height: 22rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.olympic_wrapper .olympic_wrapper__img .olympic_wrapper__img_inner .olympic_wrapper__img_container .olympic_wrapper__img_inneer_right .explore_card img {
  max-height: 150px;
  max-width: 150px;
}

.olympic_wrapper .olympic_wrapper__img .olympic_wrapper__img_inner .olympic_wrapper__img_container .olympic_wrapper__img_inneer_right .explore_card a {
  background-color: var(--secondary_color);
  color: var(--white);
  border-radius: 4px;
  height: 3.2rem;
  padding: 0.5rem 1.6rem;
  width: 100%;
  transition: all 300ms ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}

.olympic_wrapper .olympic_wrapper__img .olympic_wrapper__img_inner .olympic_wrapper__img_container .olympic_wrapper__img_inneer_right .explore_card a:hover {
  background-color: var(--secondary_color_dark_Shade);
}

@media (max-width: 1220px) {
  .olympic_wrapper .olympic_wrapper__des {
    display: flex !important;
    flex-direction: column !important;
  }

  .olympic_wrapper .olympic_wrapper__des .olympic_wrapper__des_left,
  .olympic_wrapper .olympic_wrapper__des .olympic_wrapper__des_right {
    justify-content: flex-start !important;
  }
}

@media (max-width: 600px) {
  .olympic_wrapper .olympic_wrapper__img_container {
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 24px;
  }

  .olympic_wrapper .olympic_wrapper__img_container .olympic_wrapper__img_inneer_right {
    align-items: center !important;
  }
}

/*
OLYMPIC PAGE CSS END
*/
/*
FIXTURES PAGE CSS START
*/
.fixtures_container {
  height: auto;
  min-height: 500px;
  margin-top: 48px;
  margin-bottom: 48px;
}

.fixtures_container .fixtures_wrapper {
  width: 70%;
  margin: 0px auto;
  position: relative;
}

.fixtures_container .fixtures_wrapper ul {
  padding: 15px;
}

.fixtures_container .fixtures_wrapper ul li {
  margin-top: 8px;
  margin-bottom: 8px;
  font-family: "Roboto";
  font-style: normal;
  color: var(--text_dark);
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 154%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border: 1px solid var(--text_light_shade_grey);
}

.fixtures_container .fixtures_wrapper ul li .team_name {
  font-weight: 500 !important;
}

/*
FIXTURES PAGE CSS START
*/
/*
LIVE PAGE CSS START
*/
.live_detail {
  height: auto;
  min-height: 700;
  margin-top: 48px;
  margin-bottom: 48px;
}

.live_detail .live_detail__body {
  display: grid;
  grid-template-columns: 2.3fr 0.7fr;
  -moz-column-gap: 50px !important;
  column-gap: 50px !important;
}

.live_detail .live_detail__body .live_detail__body_left .live_detail__body_video {
  position: relative;
  width: 100%;
  height: 500px;
}

.live_detail .live_detail__body .live_detail__body_left h4 {
  color: var(--text_dark);
  font-size: 1.125rem !important;
  font-weight: 500;
  font-size: 1rem;
  line-height: 160%;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
}

.live_detail .live_detail__body .live_detail__body_right .live_match {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.live_detail .live_detail__body .live_detail__body_right .live_match h4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 160%;
  color: var(--primary_color) !important;
  margin-bottom: 24px !important;
}

.live_detail .live_detail__body .live_detail__body_right .live_match .live_match__card {
  border-bottom: 1px solid var(--text_light_shade_grey);
  margin-bottom: 24px;
}

.live_detail .live_detail__body .live_detail__body_right .live_match .live_match__card .live_match__desc {
  display: flex;
  align-items: center;
}

.live_detail .live_detail__body .live_detail__body_right .live_match .live_match__card .live_match__desc a {
  padding: 10px;
  padding-left: 0px !important;
}

/*
LIVE PAGE CSS END
*/
.email_verify {
  height: auto;
  min-height: 400px;
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.email_verify p {
  font-size: 1.5rem;
  font-weight: 500;
}

.email_verify button {
  cursor: pointer;
  border: none;
  width: 80px;
  height: 34px;
  border-radius: 4px;
  color: var(--white);
  background-color: var(--secondary_color);
  transition: all 300ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none !important;
}

.email_verify button:hover {
  background-color: var(--secondary_color_dark_Shade);
}

/*********************************dashboard page css end *********************************************************/
section {
  padding: 40px 0;
  background: var(--primary_color);
  color: #868c96;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contact-area {
  border-bottom: 1px solid #353c46;
}

.contact-content p {
  font-size: 14px;
  margin: 30px 0 60px;
  position: relative;
}

.contact-content p::after {
  background: var(--primary_color);
  bottom: -30px;
  content: "";
  height: 1px;
  left: 50%;
  position: absolute;
  transform: translate(-50%);
  width: 80%;
}

.contact-content h6 {
  color: #8b9199;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 10px;
}

.contact-content span {
  color: #353c47;
  margin: 0 10px;
}

.contact-content img {
  max-width: 210px;
}

.contact-social {
  margin-top: 30px;
}

.contact-social>ul {
  display: inline-flex;
}

.contact-social ul li a {
  border: 1px solid #8b9199;
  color: #8b9199;
  display: inline-block;
  height: 40px;
  margin: 0 10px;
  padding-top: 7px;
  transition: all 0.4s ease 0s;
  width: 40px;
  border-radius: 4px;
}

.contact-social ul li a:hover {
  border: 1px solid #fab702;
  color: #fab702;
}

footer {
  background: var(--primary_color_dark);
  color: #868c96;
  bottom: 0 !important;
}

footer p {
  padding: 40px 0;
  text-align: center;
  font-size: 14px;
  color: var(--white);
  margin: 0px;
}

footer img {
  width: 44px;
}

/*# sourceMappingURL=style.css.map */