{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Olympic | admin</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/x-icon" href="favicon.png" />
        <link rel="preconnect" href="https://fonts.googleapis.com/" />
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&amp;display=swap" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'admin/css/style.css' %}" />
        <script src="{% static 'admin/js/perfect-scrollbar.min.js' %}"></script>
    </head>

    <body
        x-data="main"
        class="relative overflow-x-hidden font-nunito text-sm font-normal antialiased"
        :class="[ $store.app.sidebar ? 'toggle-sidebar' : '', $store.app.theme, $store.app.menu, $store.app.layout,$store.app.rtlClass]">
        <!-- sidebar menu overlay -->
        <div x-cloak class="fixed inset-0 z-50 bg-[black]/60 lg:hidden" :class="{'hidden' : !$store.app.sidebar}" @click="$store.app.toggleSidebar()"></div>


        <div class="main-container min-h-screen text-black dark:text-white-dark" :class="[$store.app.navbar]">
            <!-- start sidebar section -->
            {% include 'siteadmin/sidebar.html' %}
            <!-- end sidebar section -->

            <div class="main-content">
                <!-- start header section -->
                {% include 'siteadmin/header.html' %}
                <!-- end header section -->

                <div class="animate__animated p-6" >
                    <!-- start breadcrumb content section -->
                    {% include 'siteadmin/breadcrumb.html' %}
                    <!-- end breadcrumb content section -->

                    {% block content %}
                    <div style="height: auto; min-height: 700px;" class="ng-danger">

                    </div>
                    {% endblock content %}

                    <!-- start footer section -->
                    <p class="pt-6 text-center">
                        © <span id="footer-year">2023</span> All rights reserved.
                    </p>
                    <!-- end footer section -->
                </div>
            </div>
        </div>

        <script src="{% static 'admin/js/alpine-collaspe.min.js' %}"></script>
        <script src="{% static 'admin/js/alpine-persist.min.js' %}"></script>
        <script defer src="{% static 'admin/js/alpine.min.js ' %}"></script>
        <script src="{% static 'admin/js/custom.js' %}"></script>
        <script defer src="{% static 'admin/js/apexcharts.js' %}"></script>
    </body>
</html>
