{% extends 'siteadmin/base.html' %}
{% load static %}
{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h4 class="m-0 text-dark">Player</h4>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'core:admin_player' %}" class="text-dark">Player</a></li>
                        <li class="breadcrumb-item active">update</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid pb-4">
            <form action="" method="POST" novalidate enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <label>Name <span class="text-danger">*</span></label>
                        {{form.name}}
                    </div>
                    <div class="form-group">
                        <label>Sport category <span class="text-danger">*</span></label>
                        {{form.sport_category}}
                    </div>
                    <div class="form-group">
                        <label>Standing <span class="text-danger">*</span></label>
                        {{form.standing}}
                    </div>
                    <div class="form-group">
                        <label>Country <span class="text-danger">*</span></label>
                        {{form.country}}
                    </div>
                    <div class="form-group">
                        <label>Photo <span class="text-danger">*</span></label>
                        {{form.image}}
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-sm btn-success ml-2" type="submit">Submit</button>
                </div> 
            </form>
        </div>
    </section>
</div>
{% endblock %}