{% extends 'siteadmin/base.html' %}
{% load static %}
{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h4 class="m-0 text-dark">
                        Sport
                        <a href="{% url 'core:admin_sport_create' %}" class="btn btn-success btn-xs btn_circle">
                            <i class="fa fa-plus text-light" aria-hidden="true"></i>
                        </a>
                    </h4>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'core:admin_sports' %}" class="text-dark">Sport</a></li>
                        <li class="breadcrumb-item active">list</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid pb-4">
            <br>
            {% if sport %}
            <div class="row d-flex align-items-stretch">
                {% for data in sport %}
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="card card-widget">
                        <div class="card-body card_body">
                            {% if data.display_image %}
                            <img class="img-fluid" src="{{data.display_image.url}}" alt="{{data.title}}">
                            {% endif %}
                        </div>
                        <div class="card-footer card-comments">
                            <div class="card-comment">
                                <a href="{% url 'core:admin_sport_delete' data.id %}" class="btn btn-danger btn-xs"
                                    data-remote="{% url 'core:admin_sport_delete' data.id %}" data-toggle="modal"
                                    data-target="#exampleModal">
                                    <i class="fas fa-trash fa-sm"></i>
                                </a>
                                <a href="{% url 'core:admin_sport_update' data.id %}" class="btn btn-xs btn-success">
                                    <i class="fas fa-edit fa-sm"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <a href="{% url 'core:admin_sport_create' %}" class="btn btn-primary">
                <i class="fas fa-plus fa-sm"></i>
                Add Sport
            </a>
            <br>
            <small>No notice yet</small>
            {% endif %}
        </div>
    </section>
</div>
{% endblock %}