{% extends 'client/base.html' %}
{% load static %}
{% block title %}
About us
{% endblock %}
{% block styles %}
{% endblock %}
{% block content %}
<div class="olympic_wrapper">
    <div class="olympic_wrapper__des wrapper">
        <div class="olympic_wrapper__des_left">
            <h1>
                OLYMPIC 
                <br>
                GAMES
            </h1>
        </div>
        <div class="olympic_wrapper__des_right">
            <p>
                The Olympic Games are the world's only truly global, multi-sport, 
                celebratory athletics competition. With more than 200 countries participating in 
                over 400 events across the Summer and Winter Games, the Olympics are where the 
                world comes to compete, feel inspired, and be together.
            </p>
        </div>
    </div>
    <div class="olympic_wrapper__img ">
        <div class="wrapper">
            <h1>Future Games</h1>
        </div>
        <div class="olympic_wrapper__img_inner">
            <div class="olympic_wrapper__img_container wrapper">
                <div class="olympic_wrapper__img_inner_left ">
                    <p>
                        26 July - 11 August
                    </p>
                    <h1>
                        PARIS 
                        <br>
                        2024
                    </h1>
                </div>
                <div class="olympic_wrapper__img_inneer_right">
                    <div class="explore_card">
                        <img src="./icon/olpympic2.png" alt="">
                        <a href="">
                            Explore
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}