{% extends 'client/base.html' %}
{% load static %}
{% load embed_video_tags %}
{% block styles %}
{% endblock %}
{% block content %}
<div class="dashboard_body wrapper">
    <div class="dashboard_body__left">
        <div class="dashboard_body__box">
            <div class="dashboard_body__box_header">
                <h3>Top Headlines</h3>
            </div>
            <div class="dashboard_body__box_body">
                <ul class="">
                    {% if top_news %}
                    {% for data in top_news %}
                    <li>
                        {{data.title}}
                    </li>
                    {% endfor %}
                    {% else %}
                    <p>No Data Available</p>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="dashboard_body__box">
            <div class="dashboard_body__box_header">
                <h3>Fallow us on</h3>
            </div>
            <div class="dashboard_body__box_body fallow">
                <ul>
                    <li>
                        <a href="{{org.fb_link}}" target="__blank">
                            <i class="fa_icon fa-brands fa-facebook-f"></i>
                        </a>
                        <a href="{{org.instagram_link}}" target="__blank">
                            <i class="fa_icon fa-brands fa-instagram"></i>
                        </a>
                        <a href="{{org.twitter_link}}" target="__blank">
                            <i class="fa_icon fa-brands fa-twitter"></i>
                        </a>
                        <a href="{{org.youtube_link}}" target="__blank">
                            <i class="fa_icon fa-brands fa-youtube"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="dashboard_body__middle">
        <div class="live_box">
            <div class="live_box__header">
                <p class="text-danger">
                    <i class="mr-2 fa-solid fa-bars-staggered text-danger"></i>
                    Live
                </p>
                <a href="" class="view_detail">View Live</a>
            </div>
            <div class="live_box__body">
                <p>
                    <span class="team_name">
                        Brazil 
                        &nbsp;&nbsp;  <span>2</span>
                    </span>
                    <span>HT</span>
                    <span class="team_name">
                        <span>2</span> &nbsp;&nbsp;  
                        France 
                    </span>
                </p>

                <div class="video_wrapper">
                    <div id="player"></div>
                </div>
            </div>
        </div>

        <div class="live_box">
            <div class="live_box__header">
                <p class="text-danger">
                    <i class="mr-2 fa-solid fa-bars-staggered text-danger"></i>
                    Live
                </p>
                <a href="live.html" class="view_detail">View Live</a>
            </div>
            <div class="live_box__body">
                <p>
                    Gaurika singh almost win another gold
                </p>

                <div class="video_wrapper">
                    {% if highlight %}
                    {% for data in highlight %}
                    {% video data.video  %}
                    {% endfor %}
                    {% else %}
                    <p>No Data Available</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard_body__right">
        <div class="dashboard_body__box">
            <div class="dashboard_body__box_header">
                <h3>Highlights</h3>
                <a href="{% url 'core:highlight' %}">View All</a>
            </div>
            <div class="dashboard_body__box_body">
                {% if highlight %}
                {% for data in highlight %}
                {% video data.video '310x250' %}
                {% endfor %}
                {% else %}
                <p>No Data Available</p>
                {% endif %}
            </div>
        </div>
        <div class="dashboard_body__box">
            <div class="dashboard_body__box_header">
                <h3>Fixtures</h3>
                <a href="{% url 'core:fixture' %}">View All</a>
            </div>
            <div class="dashboard_body__box_body fixtures">
                <ul style>
                    {% if fixtures %}
                    {% for data in fixtures %}
                    <li>
                        <span class="team_name">{{data.first_participant}}</span>
                        <span>vs</span>
                        <span class="team_name">{{ data.second_participant }}</span>
                    </li>
                    {% endfor %}
                    {% else %}
                    <p>No Data Available</p>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}