{% load static %}
<!-- footer section start -->
<section class="contact-area" id="contact">
<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="contact-content text-center">

                <div class="contact-social">
                    <ul>
                        <li><a class="hover-target"  href="{{org.fb_link}}" target="__blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a class="hover-target"  href="{{org.instagram_link}}" target="__blank"><i class="fa-brands fa-instagram"></i></i></a></li>
                        <li><a class="hover-target"  href="{{org.twitter_link}}" target="__blank"><i class="fa-brands fa-tiktok"></i></i></a></li>
                        <li><a class="hover-target"  href="{{org.youtube_link}}" target="__blank"><i class="fa-brands fa-youtube"></i></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<footer>
<p>
    Copyright &copy; {% now 'Y' %}
    <img src="{% static '/icon/olpympic.png' %}" alt="logo"> 
    All Rights Reserved.
</p>
</footer>