{% load static %}
<div class="header_one">
    <nav class="header__top navbar navbar-expand-lg navbar-light bg-light wrapper">
        <a class="navbar-brand" href="{% url 'user:dashboard' %}">
            <img src="{% static '/icon/olpympic.png' %}" alt="icon" class="img-fluid">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="olympics.html">Olympic Games <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="athletes.html">Athletes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="sports.html">Sports</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="fixtures.html">Fixtures</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="news.html">News</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           
                        </a>
                        <div class="dropdown-menu dropdown-menu-right p-3 " aria-labelledby="navbarDropdown">
                            <a class="dropdown-item text-center" href="#">
                              
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-center" href="{% url 'core:logout' %}">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
</div>