{% extends 'client/base.html' %}
{% load static %}
{% load embed_video_tags %}
{% block title %}
Highlight
{% endblock %}
{% block styles %}
{% endblock %}
{% block content %}
<div class="news_container wrapper">
    <div class="breadcrumb">
        <div class="search_breadcrumb">
            <h1 style="font-style: italic;">
                Highlight
            </h1>
            <br>
            <a href="{% url 'core:highlight'%}" class="text-dark"><-- Back</a>
        </div>
        <form action="{% url 'core:highlight_search' %}">
            <input type="text" placeholder="Search match highlight" name="search">
            <button class="button" type="submit" hidden></button>
        </form>
    </div>

    <div class="news_container__card">
        {% if highlightFilter %}
        {% for data in highlightFilter %}
        <div class="news_wrapper">
            <div class="news_wrapper_img">
                {% video data.video '370x270' %}
            </div>
            <div class="news_wrapper_desc">
                <div class="news_wrapper_desc">
                    <h4>{{data.title}}</h4>
                    <p class="date">{{data.created_at}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p>No Data Available</p>
        {% endif %}

    </div>
</div>
{% endblock %}