{% extends 'client/base.html' %}
{% load static %}
{% block title %}
News
{% endblock %}
{% block styles %}
{% endblock %}
{% block content %}
<div class="news_container wrapper">
    <div class="breadcrumb">
        <h1>News</h1>
        <form action="{% url 'core:news_search' %}">
            <input type="text" placeholder="Search news" name="search">
            <button class="button" type="submit" hidden></button>
        </form>
    </div>
    <div class="news_container__card">
        {% if news_list %}
            {% for data in news_list %}
            <div class="news_wrapper">
                <div class="news_wrapper_img">
                    {% if data.image %}
                    <img class="attachment-img" src="{{data.image.url}}" alt="{{data.title}}">
                    {% endif %}
                </div>
                <div class="news_wrapper_desc">
                    <h4>{{data.title}}</h4>
                    <p class="date">{{data.timestamp_pretty}}</p>
                    <p class="desc">
                        {{data.content|safe|truncatechars:400}}
                    </p>
                    <a href="{{data.get_absoulate_url}}">
                        Read more
                        <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>No Data Available</p>
        {% endif %}
    </div>
</div>
{% endblock %}