{% extends 'client/base.html' %}
{% load static %}
{% block title %}
News Detail
{% endblock %}
{% block styles %}
{% endblock %}
{% block content %}

<div class="news_detail wrapper">
    <div class="news_detail__body">
        <div class="news_detail__body_left">
            <h1>
                Khalifa Mukadis: The young Ghanaian aspiring towards football greatness
            </h1>
            <p class="date">5 APRIL, 2023 FRIDAY</p>
            <div class="news_detail__body_img">
                <img src="./img/news.PNG" alt="">
            </div>
            <div class="news_detail__footer_detail">
                <p>
                    The higher level.

                    It’s a world full of football and endless possibilities, and for 16-year-old Ghanaian Khalifa Mukadis, it’s one he often mentions.

                    Speaking to Olympics.com from his hometown in Nima, one of Ghana's poorest neighbourhoods in the country’s capital of Accra, Mukadis outlines his goals for the future.

                    “Playing in a big club in Europe, playing at the Olympics, playing at a World Cup for the national team. I think that will best,” he said.

                    Mukadis is part of the new Olympic Channel original series ‘Playing Fields' available to stream now on Olympics.com for free, and his episode delves deep into his journey so far and hopes of a long career in men's football.

                    “If I could pick to play for any team in the world, I think it would be Manchester City. City is a good club: they all play very well. They play in a lot of tournaments. They lose, they win but, still, I support them.

                    "City is the best club, I think. In the world.”
                </p>
            </div>
        </div>
        <div class="news_detail__body_right">
            <div class="other_news">
                <h4>Other News</h4>

                <div class="other_news__card">
                    <div class="other_news__card_img">
                        <img src="./img/news.PNG" alt="">
                    </div>
                    <div class="other_news__desc">
                        <p class="small_para_regular">5 APRIL, 2023, FRIDAY</p>
                        <p class="para_bold">Why is the dollar rising against the nepali rupee?</p>
                    </div>
                </div>
                <div class="other_news__card">
                    <div class="other_news__card_img">
                        <img src="./img/news.PNG" alt="">
                    </div>
                    <div class="other_news__desc">
                        <p class="small_para_regular">5 APRIL, 2023, FRIDAY</p>
                        <p class="para_bold">Why is the dollar rising against the nepali rupee?</p>
                    </div>
                </div>
                <div class="other_news__card">
                    <div class="other_news__card_img">
                        <img src="./img/news.PNG" alt="">
                    </div>
                    <div class="other_news__desc">
                        <p class="small_para_regular">5 APRIL, 2023, FRIDAY</p>
                        <p class="para_bold">Why is the dollar rising against the nepali rupee?</p>
                    </div>
                </div>
                <div class="other_news__card">
                    <div class="other_news__card_img">
                        <img src="./img/news.PNG" alt="">
                    </div>
                    <div class="other_news__desc">
                        <p class="small_para_regular">5 APRIL, 2023, FRIDAY</p>
                        <p class="para_bold">Why is the dollar rising against the nepali rupee?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}