{% extends 'client/base.html' %}
{% load static %}
{% block title %}
Player
{% endblock %}
{% block styles %}
{% endblock %}
{% block content %}
<div class="atheletes_wrapper wrapper">

    <div class="breadcrumb">
        <h1>athletes</h1>
        <form action="">
            <input type="text" placeholder="Search athletes">
        </form>
    </div>

    <div class="row atheletes_container">
        <div class="col-lg-2 col-md-2 col-sm-3 atheletes_wrapper__card">
            <div class="atheletes_wrapper_image_wrapper">
                <img src="./img/user.JPG" alt="">
            </div>
            <div class="atheletes_wrapper_desc_wrapper">
                <h3>Yonish Lama</h3>
                <p> - Boxer</p>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 atheletes_wrapper__card">
            <div class="atheletes_wrapper_image_wrapper">
                <img src="./img/user.JPG" alt="">
            </div>
            <div class="atheletes_wrapper_desc_wrapper">
                <h3>Yonish Lama</h3>
                <p> - Boxer</p>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 atheletes_wrapper__card">
            <div class="atheletes_wrapper_image_wrapper">
                <img src="./img/user.JPG" alt="">
            </div>
            <div class="atheletes_wrapper_desc_wrapper">
                <h3>Yonish Lama</h3>
                <p> - Boxer</p>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 atheletes_wrapper__card">
            <div class="atheletes_wrapper_image_wrapper">
                <img src="./img/user.JPG" alt="">
            </div>
            <div class="atheletes_wrapper_desc_wrapper">
                <h3>Yonish Lama</h3>
                <p> - Boxer</p>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 atheletes_wrapper__card">
            <div class="atheletes_wrapper_image_wrapper">
                <img src="./img/user.JPG" alt="">
            </div>
            <div class="atheletes_wrapper_desc_wrapper">
                <h3>Yonish Lama</h3>
                <p> - Boxer</p>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 atheletes_wrapper__card">
            <div class="atheletes_wrapper_image_wrapper">
                <img src="./img/user.JPG" alt="">
            </div>
            <div class="atheletes_wrapper_desc_wrapper">
                <h3>Yonish Lama</h3>
                <p> - Boxer</p>
            </div>
        </div>
    </div>
    <div class="row atheletes_container">
        <div class="col-lg-2 col-md-2 col-sm-3 atheletes_wrapper__card">
            <div class="atheletes_wrapper_image_wrapper">
                <img src="./img/user.JPG" alt="">
            </div>
            <div class="atheletes_wrapper_desc_wrapper">
                <h3>Yonish Lama</h3>
                <p> - Boxer</p>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 atheletes_wrapper__card">
            <div class="atheletes_wrapper_image_wrapper">
                <img src="./img/user.JPG" alt="">
            </div>
            <div class="atheletes_wrapper_desc_wrapper">
                <h3>Yonish Lama</h3>
                <p> - Boxer</p>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 atheletes_wrapper__card">
            <div class="atheletes_wrapper_image_wrapper">
                <img src="./img/user.JPG" alt="">
            </div>
            <div class="atheletes_wrapper_desc_wrapper">
                <h3>Yonish Lama</h3>
                <p> - Boxer</p>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 atheletes_wrapper__card">
            <div class="atheletes_wrapper_image_wrapper">
                <img src="./img/user.JPG" alt="">
            </div>
            <div class="atheletes_wrapper_desc_wrapper">
                <h3>Yonish Lama</h3>
                <p> - Boxer</p>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 atheletes_wrapper__card">
            <div class="atheletes_wrapper_image_wrapper">
                <img src="./img/user.JPG" alt="">
            </div>
            <div class="atheletes_wrapper_desc_wrapper">
                <h3>Yonish Lama</h3>
                <p> - Boxer</p>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 atheletes_wrapper__card">
            <div class="atheletes_wrapper_image_wrapper">
                <img src="./img/user.JPG" alt="">
            </div>
            <div class="atheletes_wrapper_desc_wrapper">
                <h3>Yonish Lama</h3>
                <p> - Boxer</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}