{% extends 'client/base.html' %}
{% load static %}
{% block title %}
Player
{% endblock %}
{% block styles %}
{% endblock %}
{% block content %}
<div class="atheletes_wrapper wrapper">

    <div class="breadcrumb">
        <div class="search_breadcrumb">
            <h1 style="font-style: italic;">
                Player
            </h1>
            <a href="{% url 'core:player'%}" class="text-dark"><-- Back</a>
        </div>
        <form action="{% url 'core:player_search' %}">
            <input type="text" placeholder="Search player" name="search">
            <button class="button" type="submit" hidden></button>
        </form>
    </div>

    <div class="row atheletes_container">
        {% if playerFilter %}
        {% for data in playerFilter%}
        <div class="col-lg-2 col-md-2 col-sm-3 atheletes_wrapper__card">
            <div class="atheletes_wrapper_image_wrapper">
                {% if data.image %}
                <img class="img-fluid" src="{{data.image.url}}" alt="{{data.name}}">
                {% endif %}
            </div>
            <div class="atheletes_wrapper_desc_wrapper">
                <h3>{{data.name}}</h3>
                <p> - {{data.sport_category}}</p>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p>No Data Available</p>
        {% endif %}
    </div>
</div>
{% endblock %}